<?xml version="1.0"?>
<model>
	<name>crater_1</name>
	<version>1.0</version>
	<sdf version='1.4'>crater_1.sdf</sdf>
	
	<author>
		<name>Thanh Tran</name>
		<email>thanhtran@berkeley.edu</email>
	</author>
	
	<description>
		A bullseye-like landing zone that help determine points.
	</description>
</model>
